
.bigBox{
    background-color: black;
    text-align: center;
    width: 600px;
    margin: auto;

}
.bigBox div{
display: inline-block;
background-color: #101010;
color: white;
font-size: 60px;
line-height: 60px;
padding: 20px;

}